body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
    border-spacing: 0 !important;
    padding: 2px;
}

th {
    padding: 2px;
    background: rgb(245, 241, 241);
}
