
<h1>Maharishi University of Management</h1>
<h4> Introduction to Master of Science in Computer Science</h4>
<p>
  With the rapid advances in science and technology during the last few decades, computers and computing 
  systems have risen to be the key technology supporting and expanding almost every area of life, from 
  education and research, to commerce and entertainment. With the growth of networking systems ­ such as 
  the global Internet system connecting millions of people engaged in business, education, and research ­ 
  computing has become one of the most powerful aspects of progress in human life.
</p><p>
To be successful in this dynamic and expanding area one must have a strong basis in their own creativity, 
and a good knowledge of the most advanced and up to date areas of Computing technology and Computer 
Science. The Master's program in Software Engineering at Maharishi University of Management provides 
just this, a combination of the most important and powerful theoretical basis of all areas of computing, 
and their applications in the most advanced areas of current technology and professional areas.
</p>
<p>
With such a broad range of applications, a computer scientist or computer professional must be firmly 
grounded in the knowledge of how these systems are organized, and in the principles which are used to 
create and apply computing to the many different application areas that one will encounter in a 
professional computing profession. In addition one must cultivate increasingly clear thinking and logic, 
balance in personal life, and the ability to think and communicate clearly and coherently with others. 
The Computer Science programs at Maharishi University of Management prepare graduates for success in 
this field by providing comprehensive knowledge of the discipline, while culturing all of these vital \
and precious qualities of personal and professional success.
</p>